@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Poppins", sans-serif;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8%;
  padding-left: 8%;
}
